<div class="page-header">
    <h2>New Pubcrawl</h2>
</div>
<form action="/users/{{username}}/pubcrawls/" method="POST">
    <div class="form-group">
        <label for="pubcrawl-name">Name</label>
        <input type="text" class="form-control" name="name" id="pubcrawl-name" autofocus required>
    </div>
    <div class="form-group">
        <label for="pubcrawl-theme">Theme</label>
        <input type="text" class="form-control" name="theme" id="pubcrawl-theme">
    </div>
    <div class="form-group">
        <label for="pubcrawl-date">Date</label>
        <input type="date" class="form-control" name="date" id="pubcrawl-date" required>
    </div>
    <div class="form-group">
        <label for="pubcrawl-startTime">Start Time</label>
        <input type="time" class="form-control" name="time" id="pubcrawl-startTime" required>
    </div>
    <div class="form-group">
        <label for="pubcrawl-bars">Select Bars</label>
        {{#each bars}}
            <div class="checkbox">
                <label>
                  <input type="checkbox" value="{{this._id}}" name="checkedBars">
                  {{this.name}}
                </label>
            </div>
        {{/each}}
        <p>Add more bars <a href="/users/{{username}}/bars/new"><strong>here</strong></a>. <span class="text-warning">(You will lose progress)</span></p>
    </div>

    <div class="form-group">
    <label for="pubcrawl-bars">Transportation</label>
      <div class="radio">
        <label>
          <input type="radio" name="transportation" value="walking" checked>
          Walking
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="transportation" value="bus">
          Bus
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="pubcrawl-startBar">Start Bar</label>
      <select class="form-control" id="pubcrawl-startBar" name="startBar">
        {{#each bars}}
         <option value="{{this._id}}">{{this.name}}</option>
         {{/each}}
       </select>
    </div>
    <div class="form-group">
        <label for="pubcrawl-specialInstructions">Special Instructions</label>
        <textarea class="form-control" rows="3" name="specialInstructions"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-default" href="/" type="button" name="button">Cancel</a>
</form>
