<h3>Welcome, {{username}}!</h3>
<p><strong>Favorite Bars</strong></p>
<ul class="list-unstyled">
  {{#each bars}}
  <li><a href="/users/{{../id}}/bars/{{this._id}}">{{this.name}}</a></li>
  {{/each}}
</ul>
<a class="btn btn-default" href="/users/{{id}}/bars/new" type="button" name="button">Add Bar</a>
<hr>
<a class="btn btn-primary" href="/users/{{id}}/edit" type="button" name="button">Account Settings</a>
